<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <main id="app">
        <div class="header"></div>
        <div class="main"></div>
        <div class="application">
            <section class="contact">
                <div class="my_contact">
                    <div class="me">
                        <div class="picture">
                            <img src="img/avatar_io.jpg" alt="It's my picture">
                        </div>
                        <span>Sofia</span>
                    </div>
                    <div class="other_function">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notify_desktop">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notify">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="other_contact">
                    <div class="search">
                        <div class="search_icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" name="contact" id="contact" placeholder=" Cerca o inizia una nuova chat">
                    </div>
                    <div class="items">
                        <!--AGGIUNGO LE MIE ITEM-->
                        <div class="item" v-for="(element, index) in contacts" @click="getIndex(index)">
                            <div class="person">
                                <div class="picture">
                                    <img v-bind:src="element.avatar" v-bind:alt=" 'pictures of' + element.name ">
                                </div>
                                <div class="info_person">
                                    <span>{{element.name}}</span>
                                    <p>
                                        {{getLastMessage(element.messages)}}
                                    </p>
                                </div>
                            </div>
                            <div class="last_access">
                                {{getDataMessage(element.messages)}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="chat">
                <div class="chat_person my_contact">
                    <div class="you">
                        <div class="picture">
                            <img src="img/avatar_1.jpg" alt="img persona">
                        </div>
                        <div class="info_person">
                            <span>Michele</span>
                            <p>Ultimo accesso alle 12:00</p>
                        </div>
                    </div>
                    <div class="other_function">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="chat_area">
                    
                    <div class="message" v-for="(element, index) in getArrayMessages()" v-bind:class="my_message">
                        <p>{{element.message}}</p>
                        <span class="last_access">{{element.date}}</span>
                    </div>
                    <!--
                    <div class="message my_message">
                        <p>Ricordati di stendere i panni</p> 
                        <span class="last_access">15:50</span>
                    </div>
                    
                    <div class="message you_message">
                        <p>Tutto fatto!</p>
                        <span class="last_access">16:00</span>
                    </div>
                    -->
                </div>
                <div class="chat_message">
                    <div class="emoji"><i class="fa-regular fa-face-smile"></i></div>
                    <div class="new_message"><input type="text" placeholder="Scrivi un messaggio"></div>
                    <div class="audio_message"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </section>
        </div>
    </main>

    <script src="script/script.js"></script>
</body>
</html>