*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    height: 120px;
    background: #009688;
}

.main{
    height: calc(100vh - 120px);
    background: #DCDBD0;
}

.application{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.contact{
    width: 420px;
    background-color: #FAFAFA;
    border-right: .1px solid #C1C1C1;
}

/*SECTION CONTACT*/
.my_contact{
    /*height: 65px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: .5rem 0;
    padding-left: .5rem;
    padding-right: 1rem;
}

.me, .you{
    display: flex;
    align-items: center;
}

.me span, .you span, .you p{
    margin-left: .5rem;
}

.other_function{
    display: flex;
    align-items: center;
}

.other_function i{
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #B1B1B1;
}

.picture{
    width: 50px;
    height: 50px;
    
}

img{
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.notify_desktop{
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
    align-items:center;
    padding: .8rem .5rem;
}

.bell{
    width: 40px;
    height: 40px;
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.notify a{
    font-size: .8rem;
    color: gray;
}

.search{
    background-color: #FAFAFA;
    padding: .4rem;
    display: flex;
}

.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: .8rem;
    padding: .3rem 1.3rem;
    color: #B1B1B1;
    border: .1px solid #FBFBFB;
    border-right: 0;
}

.search input{
    padding: .3rem;
    width: 100%;
    border: .1px solid #FBFBFB;
}

.items{
    height: 500px;
    overflow:auto;
}

.item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: .5rem 0;
    margin-bottom: .1rem;
}

.item:hover{
    background-color: #E9EBEB;
    cursor: pointer;
}

.person{
    display: flex;
}

.person .picture{
    margin: 0 1rem;
}

.info_person p, .last_access{
    font-size: .8rem;
    color: gray;
}

.last_access{
    margin-right: .5rem;
}

/*SECTION CHAT*/
.chat{
    width: 700px;
    height: 100%;
}

.chat_area{
    background-image: url("../img/mine.jpg");
    height: 560px;
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #8EDAFC;

}

.my_message{
    align-self: flex-end;
    background-color: #D5F9BA;
}

.my_message span, .you_message span{
    align-self: flex-end;
}

.you_message{
    background-color: white;
}

.chat_message{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-size: 1.3rem;
    background-color: #EAEAEA;
}

.emoji, .audio_message{
    color: gray;
    display: flex;
    padding: 0 1.2rem ;
    justify-content: center;
    align-items: center;
}

.new_message{
    width: 80%;
}

.new_message input{
    border: 0;
    padding: .6rem;
    width: 100%;
}